body{
    padding-bottom: 0% !important;
    font-family: 'Source Sans Pro', sans-serif;
}
                                            /* HEADER-TOP */
.header-top{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background-color: #F5F7FA;
}
.header-top .info{
    width: 100%;
    margin-bottom: 0%;
    padding-left: 0%;
}
.header-top .info li{
    list-style: none;
    display: inline-block;
}
.header-top .info li a{
    display: block;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.3s;
}
.header-top .info li a:hover{
    color: #00BC9C;
}
.header-top .info li a .sm{
    font-size: 17px;
    color: #506A85;
}
.header-top .info li a i{
    font-size: 21px;
    color: #506A85;
    margin: 0px 10px 0px 0px;
}
.header-top .social-media{
    width: 100%;
    text-align: right;
    margin-bottom: 0%;
}
.header-top .social-media li{
    display: inline-block;
    list-style: none;
}
.header-top .social-media li a{
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #506A85;
}
.header-top .social-media li a{
    margin: 0px 10px;
}
                                            /* HEADER */
header{
    width: 100%;
    height: auto;
    padding: 17px 0px;
    box-shadow: 0 19px 25px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.navbar-wrapper {
    margin-top: 0% !important;
    position: relative;
    z-index: 15;
    background-color: #fff;
}
header .navbar-brand{
    width: 12%;
}
header .navbar-brand img{
    width: 100%;
}
header .navbar-nav{
    margin-left: 2cm;
}
header .navbar-nav .nav-item{
    width: 100%;
    margin: 0px 15px;
}
header .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    font-weight: 700;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
}
header .navbar-nav .nav-item .nav-link:hover{
    color: #00BC9C;
}
header .navbar form .form-control{
    border: none;
    border-radius: 2%;
}
header .navbar form .btn{
    transition: 0.4s;
    color: #506A85;
}
header .navbar form .btn:hover{
    color: #fff;
    background-color: #00BC9C;
    border: 1px solid #00BC9C;
}
                                            /* BANNER-SLIDER */
.slider{
    width: 100%;
}
.slider .carousel .carousel-item .carousel-caption{
    bottom: 30%;
    text-align: unset;
}
.slider .carousel .carousel-item .pos1{
    bottom: 40%;
}
.slider .carousel .carousel-item .pos2{
    bottom: 45%;
}
.slider .carousel .carousel-item .carousel-caption h2{
    font-size: 62px;
    font-weight: 700;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.slider .carousel .carousel-item .carousel-caption h2 span{
    background: #506A85;
    line-height: 85px;
}
.slider .carousel .carousel-item .carousel-caption p{
    font-size: 16px;
    font-weight: 400;
    color: #A3B1BF;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 50px;
}
.slider .carousel .carousel-item .carousel-caption .btn{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 30px;
    color: #fff;
    background-color: #00BC9C;
    border: 1px solid #00BC9C;
    border-radius: 3px;
    transition: 0.4s;
}
.slider .carousel .carousel-item .carousel-caption .btn:hover, .slider .carousel .carousel-item .carousel-caption .btn:focus{
    color: #00BC9C;
    background: transparent;
    border: 1px solid #00BC9C;
}
                                                    /* BEAUTIFUL */
.beautiful{
    width: 100%;
    margin: 75px 0px;
}
.beautiful .title h3{
    font-size: 38px;
    font-weight: 700;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.beautiful .title p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 35px;
}
.beautiful .card{
    width: 100%;
    border: none;
}
.beautiful .card .ima img{
    width: 25%;
    margin: 20px 0px 0px 91px;
}
.beautiful .card .card-body .card-title{
    font-size: 24px;
    font-weight: 600;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    margin-bottom: 18px;
}
.beautiful .card .card-body .card-text{
    font-size: 14px;
    line-height: 24px;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
}
                                        /* LATEST WORK */
.latest-work{
    width: 100%;
    background-color: #F2F5F7;
    padding: 90px 0px;
}
.latest-work .title h3{
    font-size: 37px;
    font-weight: 700;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.latest-work .title p{
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 45px;
}
.latest-work .card{
    margin-bottom: 60px;
}
.latest-work .card .card-body h6{
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
}
.latest-work .card .card-body p{
    font-size: 14px;
    font-weight: 400;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
}
                    /* CAROUSEL */
.latest-work .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 45px;
}
.latest-work .carousel .item{
    height: 207px;
}
.latest-work .owl-theme .owl-dots .owl-dot span{
    background: #506A85;
}
.latest-work .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #00BC9C;
}
                                            /* WORK WITH US */
.work{
    width: 100%;
    text-align: center;
    padding: 90px 0px;
}
.work h3{
    font-size: 37px;
    font-weight: 700;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.work p{
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: #506A85;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 40px;
}
.work .btn{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #00BC9C;
    border: 1px solid #00BC9C;
    padding: 8px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}
.work .btn:hover, .work .btn:focus{
    color: #00BC9C;
    background: transparent;
    border: 1px solid #00BC9C;
}
                                            /* FOOTER-TOP */
.footer-top{
    width: 100%;
    padding: 70px 0px;
    background-color: #2F4052;
}
.footer-top h6{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.footer-top .footer-logo{
    margin-bottom: 25px;
}
.footer-top p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #A3B1BF;
}
.footer-top a{
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #A3B1BF;
    letter-spacing: 1px;
    transition: 0.3s;
}
.footer-top a:hover{
    color: #00BC9C;
}
.footer-top a .more{
    margin-left: 5px;
}
.footer-top .latest {
    width: 275px;
    height: 196px;
}
.footer-top .icons{
    padding: 0px;
    margin: 0px;
}
.footer-top .icons li{
    list-style: none;
    margin: 0px 0px 4px 0px;
    color: #A3B1BF;
}
.footer-top .icons li a i{
    font-size: 14px;
    margin-right: 15px;
}
.footer-top .rel{
    width: 100%;
    position: relative;
}
.footer-top .rel .form-control{
    background-color: #4E5C6C;
    border: 1px solid #4E5C6C;
    border-radius: 3px;
    color: #A3B1BF;
    padding: 12px;
}
.footer-top .rel .btn{
    padding: 8px 15px;
    background-color: #00BC9C;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #00BC9C;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: 62%;
    right: 1%;
}
.footer-top .rel .btn:hover{
    background: transparent;
    color: #00BC9C;
    border: 1px solid #00BC9C;
}
                                            /* MAIN FOOTER */
footer{
    width: 100%;
    padding: 25px 0px;
    background-color: #283645;
    position: relative;
}
footer p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #707E8C;
    margin-bottom: 0%;
}
footer .media{
    width: 100%;
    display: block;
    margin-bottom: 0%;
}
footer .media li{
    list-style: none;
    display: inline-block;
    margin: 0px 0px 0px 10px;
}
footer .media li a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #707E8C;
    text-transform: capitalize;
    transition: 0.3s;
}
footer .media li a:hover{
    color: #00BC9C;
}
footer .media li a i{
    font-size: 3px;
    margin: 0px 12px 5px 0px ;
}
footer .top{
    position: absolute;
    right: 1%;
    bottom: 22%;
}
footer .top a{
    background-color: #3C5065;
    border-radius: 3px;
    color: #949BA2;
    transition: 0.4s;
}
footer .top a i{
    font-size: 25px;
}
footer .top a:hover{
    background-color: #506A85;
    border: 1px solid #506A85;
    color: #00BC9C;
}